body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 220px;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh; /* toda la altura */
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.contenido {
  margin-left: 240px; /* espacio para la sidebar */
  padding: 20px;
}

p {
    text-align: justify;
    max-width: 700px;
    margin-left: 70px;
}

h2 {
    margin-left: 70px;
}

/* Ícono ojo */
.fa-solid {
  cursor: pointer;
}

/* Contenedor relativo para posicionar imagen encima */
#contenedorCertificado {
  position: relative;
  display: inline-block;
}

/* Imagen oculta por defecto */
#miImagen {
  display: none;
  position: absolute;
  top: -220px; /* ajusta según tamaño */
  left: 0;
  width: 300px;
  z-index: 10;
  box-shadow: 0 0 8px #888;
  border-radius: 4px;
  transition: opacity 0.2s ease-in-out;
}

/* Clase visible */
#miImagen.visible {
  display: block;
}